
<header>Login Page</header>

<main>
    <% if flash[:message] && flash[:type] %>
        <p class="alert alert-<%= flash[:type] %> fade show" role="alert">
            <%= flash[:message] %>
        </p>
    <% end %>
    <%= form_with(scope: :auth, url: login_path) do |f| %>
        <div class="form-group">
        <%= f.label :username %><br/>
        <%= f.text_field :username, class: "form-control" %>
        </div>
        
        <div class="form-group">
        <%= f.label :password %><br/>
        <%= f.password_field :password, class: "form-control" %>
        </div>
        
        <div class="form-group">
        <%= f.submit "Log in", class: "button" %>
        </div>
        
    <% end %>
    <br>
    <a href="<%= register_path%>">Don't have an account? Create one</a>
    <a href="<%= root_path%>">Go back to home page</a>
</main>