<header>Register Page</header>

<main>
    <% if flash[:message] && flash[:type] %>
        <p class="alert alert-<%= flash[:type] %> fade show" role="alert">
            <%= flash[:message] %>
        </p>
    <% end %>
    <%= form_with(scope: :auth, url: register_path) do |f| %>
        <div class="form-group">
        <%= f.label :first_name %><br/>
        <%= f.text_field :first_name, class: "form-control" %>
        </div>

        <div class="form-group">
        <%= f.label :last_name %><br/>
        <%= f.text_field :last_name, class: "form-control" %>
        </div>
    
        <div class="form-group">
        <%= f.label :username %><br/>
        <%= f.text_field :username, class: "form-control" %>
        </div>

        <div class="form-group">
        <%= f.label :password %><br/>
        <%= f.password_field :password, class: "form-control" %>
        </div>

        <br>
        <div class="form-group">
        <%= f.submit "Register", class: "button" %>
        </div>
    
    <% end %>

    <a href="<%= root_path%>">Go back to home page</a>
</main>
