main {
    .alert-success {
        color: green;
    }

    .alert-danger {
        color: red;
    }

    form {
        input {
            padding: 0.5em;
        }

        button, .button {
            display: block;
            margin: 0 auto;
        }
    }

    form > * {
        margin-bottom: 1em;
        font-size: 1.1em;
        text-align: left;
    }
}
