<header>
    Random User Generator | All Users
</header>
<main>
<% if @users.any? %>
    <div class="users">
        <% for user in @users %>
            <div class="user">
                <h2 class="username"><%= user.username%></h2>
                <h4 class="first-name">First name: <%= user.first_name%></h4>
                <h4 class="last-name">Last name: <%= user.last_name%></h4>
            </div>
        <%end%>
    </div>
<% else %>
    <h2 class="username">There's no existing User yet. Add one?</h2>
<% end %>
    

    <a href="<%= root_path%>">Go back to homepage</a>

    <a href="<%= register_path%>">Add a User?</a>
</main>
