<header>
    Random User Generator
</header>
<main>
    <% if flash[:message] && flash[:type] %>    
        <p class="alert alert-<%= flash[:type] %> fade show" role="alert">
            <%= flash[:message] %>
        </p>
    <% end %>
    <% if @random_user %>
        <div class="user">
            <h2 class="username">@<%= @random_user.username%></h2>
            <h4 class="first-name">First name: <%= @random_user.first_name%></h4>
            <h4 class="last-name">Last name: <%= @random_user.last_name%></h4>
        </div>
    <% else %>
        <h2 class="username">There's no existing User yet. Add one?</h2>
    <% end %>
    
    <p>Currently logged in?: <strong><%= logged_in?.to_s.capitalize %></strong></p>

    <% if logged_in? %>
        <a href="<%= logout_path%>">Logout</a>
    <% else %>
        <a href="<%= login_path%>">Login</a>
    <% end %>
    <button onClick="window.location.reload();">RANDOM USER</button>

    <a href="<%= users_path%>">See all Users?</a>

    <a href="<%= register_path%>">Add a User?</a>
</main>
