* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section {
    padding: 2em;

    header {
        font-size: 2.5em;
        font-weight: 800;
        letter-spacing: 1px;
        text-align: center;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 5em;

        .user {
            width: 100%;
            margin-bottom: 1em;
        }

        button, .button {
            font-size: 1.2em;
            padding: 1em 2em;
            cursor: pointer;
            border: none;
            background: black;
            color: white;
            font-weight: 600;
            transition: all 0.4s ease;
        }

        button:hover, .button:hover {
            background: white;
            border: 1px solid black;
            color: black;
        }
    }

    main > * {
        margin-top: 2em;
    }
}

@import "pages/home";
@import "pages/auth";
